@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lora|Muli');

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  color: $primaryColor;
  margin: 0;
  padding: 0;
  font-family: 'Muli', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
dt {
  font-family: 'Lora', serif;
}

header {
  background-color: $primaryColor;
  color: $contrastColor;
  text-align: center;
  padding: 0.5em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  margin: 1em 2em;

  .accordion {
    background-color: $primaryColor;
    color: $contrastColor;
    border-radius: $bdrs;
    box-shadow: 2px 5px 10px $shadowColor;
    padding: 0;
    cursor: pointer;

    &-header {
      padding: 1em;
      border-bottom: 1px solid $thirdColor;

      &.is-active,
      &:hover {
        background-color: $shadowColor;
      }

      &:first-child {
        border-radius: $bdrs $bdrs 0 0;
      }

      &:last-of-type {
        border-bottom: none;
        border-radius: 0 0 $bdrs $bdrs;

        &.is-active {
          border-radius: 0;
        }
      }
    }

    &-content {
      margin: 0;
      padding: 0;
      background-color: $thirdColor;
      color: $primaryColor;
      display: none;

      &.is-active {
        padding: 0.5em;
        display: block;

        &:last-child {
          border-radius: 0 0 $bdrs $bdrs;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $primaryColor;
  color: $contrastColor;
  padding: 1.5em;
}