@import 'variables.scss';

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  color: $primaryColor;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
  background-color: $primaryColor;
  color: $contrastColor;
  text-align: center;
  padding: 0.5em;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  margin: 1em 2em;
  .accordion{
    background-color: $primaryColor;
    color: $contrastColor;
    border-radius:15px;
    box-shadow: 2px 5px 10px $shadowColor;
    padding: 0;
    .accordion-header{
      padding: 1em;
      border-bottom: 1px solid $thirdColor;
      &.isActive,
      &:hover{
        background-color: $shadowColor;
      }
      &:first-child{
        border-radius:15px 15px 0 0;
      }
      &:last-of-type{
        border-bottom: none;
      }
    }
    .accordion-content{
      margin: 0;
      padding: 0;
      background-color: $thirdColor;
      color: $primaryColor;
      display: none;
      &.isActive{
        padding: 0.5em;
        display: block;
        &:last-child{
          border-radius: 0 0 15px 15px;
        }
      }
    }
  }
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $primaryColor;
  color: $contrastColor;
  padding: 1.5em;
}

